<!DOCTYPE html>
<html  ng-app = "testApp">
<head>
     <title>Demo App</title>

     <link rel="stylesheet" href="/stylesheets/datatables.bootstrap.css">
     <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/style.css">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="/javascripts/library/angular.min.js"></script>
     <script src="/javascripts/library/angular-ui-router.min.js"></script>
     <script src="/javascripts/library/jquery.dataTables.min.js"></script>
     <script src="/javascripts/library/angular-datatables.min.js"></script>

     <script src="/javascripts/app.js"></script>
     <script src="/javascripts/config.js"></script>
     <script src="/javascripts/controller.js"></script>
     <script src="/javascripts/service.js"></script>
</head>
<body ui-view>

</body>
</html>
