<div role="navigation" class="navbar navbar-default navbar-static-top">
     <div class="container" style="min-height:500px;">
          <div class="container" style="padding:50px 50px;">

               <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                    <thead>
                         <tr>
                              <th>Name</th>
                              <th>Population</th>
                              <th>Capital</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr ng-repeat="data in userList">

                              <td>
                                   {{data.name ? data.name : 'N/A'}}
                              </td>
                              <td>{{data.population ? data.population : 'N/A'}}</td>
                              <td>{{data.capital ? data.capital : 'N/A'}}</td>
                         </tr>
                    </tbody>
               </table>
          </div>
     </div>
</div>
